<footer class="footer">
    <small>
        The <a href="https://github.com/lesliebinbin/twitter-like-app">Twitter Like App</a>
        by <a href="https://www.linkedin.com/in/binbin129001/">Leslie Wong</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",
                   about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="https://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>
